*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.ball{
    height: 30px;
    width: 30px;
    background-color: crimson;
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    animation: bounce 0.9s infinite;
}
@keyframes bounce{
    10%{
        height: 30px;
        width: 30px;
    }
    50%{
        height: 10px;
        width: 37px;
        transform: translateY(100px);
    }
    75%{
        height: 30px;
        width: 37px;
    }
    100%{
        transform: translateY(0px);
    }
}
.sky{
    height: 80vh;
    width: 100%;
    background-color: cornflowerblue;
}
.ground{
    height: 20vh;
    width: 100%;
    background-color:rgb(99, 197, 0);
    display: flex;
    justify-content: space-around;
}
.divider{
    width: 10px;
    height: 20px;
    background-color:rgb(68, 17, 17);
    position: relative;
    top: -20px;
}